body {
    background-color: black;
    font-family: monospace;
    overflow: hidden;
    height: 100vh;
}

p {
    color: #e8ffe3;
    font-weight: bold;
    font-size: 30vw;
    text-align: center;
    text-shadow: 0 0 25px #FF0EF3;
}

.paragraph {
    width: 100%;
    padding-top: 20px;
    margin: 0 auto;
    white-space: nowrap;
}

h6 {
    color: #0ecfff;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84%;
    width: 100%;
    overflow: hidden;
}

.width-size {
    display: flex;
    justify-content: center;
    width: 100vw;
}

.text-field {
    padding: 5px;
    height: 30px;
    width: 100%;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}

.inner-modal-content {
    margin-top: 5%;
    width: 80vw;
    display: inline-block;
}

.text-size {
    font-size: 1em;
}

.modal-center {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-local-style {
    background-color: transparent;
}

label {
    display: block;
    background-color: #FF0EF3;
}

/* Loop text */

.animated-text1 {
    display: inline-block;
    -webkit-animation: scrolling-to-left1 20s linear infinite;
    animation: scrolling-to-left1 20s linear infinite;
}

.animated-text2 {
    display: inline-block;
    -webkit-animation: scrolling-to-left2 20s linear infinite;
    animation: scrolling-to-left2 20s linear infinite;
    animation-delay: 10s;
}

@keyframes scrolling-to-left1 {
    0% {transform: translateX(100%);
        -webkit-transform: translateX(100%);}
      100% {transform: translateX(-100%);
          -webkit-transform: translateX(-100%);}
}
@keyframes scrolling-to-left2 {
    0% {transform: translateX(0%);
        -webkit-transform: translateX(0%);}
      100% {transform: translateX(-200%);
          -webkit-transform: translateX(-200%);}
}

@-webkit-keyframes scrolling-to-left1 {
    0% {-webkit-transform: translateX(100%);}
      100% {-webkit-transform: translateX(-100%);}
}
@-webkit-keyframes scrolling-to-left2 {
    0% {-webkit-transform: translateX(0%);}
      100% {-webkit-transform: translateX(-200%);}
}